/*.language-chuck .hll { background-color: #ffffcc }*/
.language-chuck .c { color: #408080; font-style: italic } /* Comment */
.language-chuck .err { border: 1px solid #FF0000 } /* Error */
.language-chuck .k { color: #0000E0; font-weight: bold } /* Keyword */
.language-chuck .o { color: #666666 } /* Operator */
.language-chuck .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.language-chuck .cp { color: #BC7A00 } /* Comment.Preproc */
.language-chuck .c1 { color: #408080; font-style: italic } /* Comment.Single */
.language-chuck .cs { color: #408080; font-style: italic } /* Comment.Special */
.language-chuck .gd { color: #A00000 } /* Generic.Deleted */
.language-chuck .ge { font-style: italic } /* Generic.Emph */
.language-chuck .gr { color: #FF0000 } /* Generic.Error */
.language-chuck .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.language-chuck .gi { color: #00A000 } /* Generic.Inserted */
.language-chuck .go { color: #888888 } /* Generic.Output */
.language-chuck .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.language-chuck .gs { font-weight: bold } /* Generic.Strong */
.language-chuck .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.language-chuck .gt { color: #0044DD } /* Generic.Traceback */
.language-chuck .kc { color: #0000E0; font-weight: bold } /* Keyword.Constant */
.language-chuck .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.language-chuck .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.language-chuck .kp { color: #008000 } /* Keyword.Pseudo */
.language-chuck .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.language-chuck .kt { color: #B00040 } /* Keyword.Type */
.language-chuck .m { color: #E08010 } /* Literal.Number */
.language-chuck .s { color: #666666; } /* Literal.String */
/*.language-chuck .na { color: #7D9029 } */ /* Name.Attribute */
.language-chuck .nb { color: #A200EC; font-weight: bold } /* Name.Builtin */
.language-chuck .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.language-chuck .no { color: #880000 } /* Name.Constant */
.language-chuck .nd { color: #AA22FF } /* Name.Decorator */
.language-chuck .ni { color: #999999; font-weight: bold } /* Name.Entity */
.language-chuck .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.language-chuck .nf { color: #0000FF } /* Name.Function */
.language-chuck .nl { color: #A0A000 } /* Name.Label */
.language-chuck .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.language-chuck .nt { color: #008000; font-weight: bold } /* Name.Tag */
.language-chuck .nv { color: #19177C } /* Name.Variable */
.language-chuck .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.language-chuck .w { color: #bbbbbb } /* Text.Whitespace */
.language-chuck .mf { color: #E08010 } /* Literal.Number.Float */
.language-chuck .mh { color: #E08010 } /* Literal.Number.Hex */
.language-chuck .mi { color: #E08010 } /* Literal.Number.Integer */
.language-chuck .mo { color: #E08010 } /* Literal.Number.Oct */
.language-chuck .sb { color: #BA2121 } /* Literal.String.Backtick */
.language-chuck .sc { color: #BA2121 } /* Literal.String.Char */
.language-chuck .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.language-chuck .s2 { color: #BA2121 } /* Literal.String.Double */
.language-chuck .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.language-chuck .sh { color: #BA2121 } /* Literal.String.Heredoc */
.language-chuck .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.language-chuck .sx { color: #008000 } /* Literal.String.Other */
.language-chuck .sr { color: #BB6688 } /* Literal.String.Regex */
.language-chuck .s1 { color: #BA2121 } /* Literal.String.Single */
.language-chuck .ss { color: #19177C } /* Literal.String.Symbol */
.language-chuck .bp { color: #008000 } /* Name.Builtin.Pseudo */
.language-chuck .vc { color: #19177C } /* Name.Variable.Class */
.language-chuck .vg { color: #19177C } /* Name.Variable.Global */
.language-chuck .vi { color: #19177C } /* Name.Variable.Instance */
.language-chuck .il { color: #666666 } /* Literal.Number.Integer.Long */
